<div class="container-fluid text-white py-2 text-center" style="background-color: #630394;">
    <div class="container">
        <!-- <p class="mb-1 mt-0">
        New link: <a style="color:white; text-decoration: none; font-family: 'Inter', sans-serif;" 
        href="https://www.rubiksbylogic.com.br">www.rubiksbylogic.com.br</a>
        </p> -->
        <p class="mb-0 mt-0">
        <a style="color:white; text-decoration: none; font-family: 'Inter', sans-serif;" 
        href="https://forms.gle/qxbw2G6wm1Z31PHv9" target="_blank" rel="noopener noreferrer">Rate this website, it only takes 1 minute. Click here!</a>
        </p>
    </div>
</div>