<div class="container-fluid text-white py-2 text-center" style="background-color: #630394;">
    <div class="container">
        <!-- <p class="mb-1 mt-0">
        Novo link: <a style="color:white; text-decoration: none; font-family: 'Inter', sans-serif;" 
        href="https://www.cubomagicosemdecoreba.com.br">www.cubomagicosemdecoreba.com.br</a>
        </p> -->
        <p class="mb-0 mt-0">
        <a style="color:white; text-decoration: none; font-family: 'Inter', sans-serif;" 
        href="https://forms.gle/jeHJGWWm3FJ2u77C9">Avalie este site, é só 1 minuto. Clique aqui!</a>
        </p>
    </div>
</div>